<h1>Edit Spot: "<%=@spot.name%>"</h1>

Name: <%=@spot.name%><br>
Date: <%= @spot.date %> <br>
Time: <%= @spot.time %> <br>
Address: <%= @spot.address %> <br>
Floor: <%= @spot.floor %> <br>
Section: <%= @spot.section %> <br>
Row: <%= @spot.row %> <br>
Spot: <%= @spot.spot %> <br>
Note: <%= @spot.note %> <br>
<br>
<br>
<h2>Edit Spot Form</h2><br>

  <form action="/spots/<%=@spot.id%>" method="POST">
    Name: <input type="text" name="name" id="name"><br>
    Date: <input type="text" name="date" id="date"><br>
    Time: <input type="text" name="time" id="time"><br>
    Address: <input type="text" name="address" id="address"><br>
    Floor: <input type="text" name="floor" id="floor"><br>
    Section: <input type="text" name="section" id="section"><br>
    Row: <input type="text" name="row" id="row"><br>
    Spot: <input type="text" name="spot" id="spot"><br>
    Note About Spot: <input type="text" name="note" id="note"><br><br>
    *If any field is not applicable please enter "N/A" all fields are mandatory<br>
    <input type="submit" value="submit" name="submit"><br>
  </form>
