<h1>Spot: <%=@spot.name%></h1>

Date: <%= @spot.date %> <br>
Time: <%= @spot.time %> <br>
Address: <%= @spot.address %> <br>
Floor: <%= @spot.floor %> <br>
Section: <%= @spot.section %> <br>
Row: <%= @spot.row %> <br>
Spot Number: <%= @spot.spot %> <br>
Note: <%= @spot.note %> <br>
<a href="/spots/<%=@spot.id%>/edit">Edit</a><br>
<form method="post" action="/spots/<%=@spot.id%>/delete">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Spot">
 </form>
